node_modules
views/home0.hbs
views/buy0.hbs
views/detail0.hbs
views/share0.hbs

# Metadata
*.DS_Store

# Automaticlly generated
*package-lock.json
*package.json

# Uploads
uploads/**

# Original Images
**.psd

# Product Images
product/**

