node_modules
views/home0.hbs
views/buy0.hbs
views/detail0.hbs
views/share0.hbs

# Metadata
*.DS_Store

# Uploads
uploads/**

# Product Images
product/**

# Local Images
publicAssets/*.psd
**.psd

# MongoDB Config
mongodb.pem
.env
.gcloudignore
