<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    {{!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"> --}}

    <!-- Google Fonts
		============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- fontwesome CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">

    <!-- nivo slider CSS
		============================================ -->
    <link rel="stylesheet" href="lib/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="lib/css/preview.css" type="text/css" media="screen" />

    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- meanmenu.min CSS
		============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">

    <!-- jQuery-ui CSS
		============================================ -->
    <link rel="stylesheet" href="css/jQuery-ui.css">

    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/normalize.css">

    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="css/main.css">

    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="style.css">

    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- modernizr JS
		============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->

	<!--HEADER AREA START-->
	<div class="header-area home1">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="classic-logo">
						<a href="../">
							<img src="img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
					<div class="header-menu">
						<ul id="nav">
							<li><a href="/">HOME</a></li>
							<li><a href="buy">BUY</a></li>
							<li><a href="sell">SELL</a></li>
							<li><a href="lend">LEND</a></li>
							<li><a href="share">SHARE/RENT</a></li>
							<li><a href="personal">MY ACCOUNT</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="header-info">
						<ul>
							<li><a href="register">Register</a></li>
							<li><a href="login">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--MOBILE MENU START-->
		<div class="mobile-menu-area home1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav id="dropdown">
							<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="buy">BUY</a></li>
							<li><a href="sell">SELL</a></li>
							<li><a href="lend">LEND</a></li>
							<li><a href="share">SHARE/RENT</a></li>
							<li><a href="personal">MY ACCOUNT</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--MOBILE MENU END-->
	</div>
	<!--HEADER AREA END-->

	<!--LOGIN RESTRICTION-->
	<p>{{error}}</p>
    
    <!--slider area start-->
    <div class="slider-area home1">
        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
                <img src="img/slider/slider-bg.jpg" alt="" title="#slider-direction-1" />
                <img src="img/slider/slider-bg.jpg" alt="" title="#slider-direction-2" />
            </div>
            <!-- direction 1: Cheap Furnitures in Good conditions -->
            <div id="slider-direction-1" class="t-cn slider-direction">
                <div class="slider-progress"></div>
                <div class="slider-content t-cn s-tb slider-1">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">CHEAP FURNITURES</h1>
                        <h1 class="title2"><strong>IN GOOD CONDITIONS!</strong></h1>
                        {{!-- <a href="#"><span>SHOP NOW</span></a> --}}
                    </div>
                </div>
                <!-- layer 1 -->
                <div class="layer-1 slide1">
                    {{!-- <img src="img/slider/h1-s1-l-1.png" alt="" /> --}}
                </div>
            </div>
            <!-- direction 2: books -->
            <div id="slider-direction-2" class="slider-direction">
                <div class="slider-progress"></div>
                <div class="slider-content t-cn s-tb slider-2">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">SECOND HAND BOOKS</h1>
                        <h1 class="title2"><strong>UP TO 90% OFF!</strong></h1>
                        {{!-- <h2 class="title2">SAVE UP TO 90% OFF</h2> --}}
                        <h2 class="title2">compared to new books</h2>
                        {{!-- <a href="#"><span>SHOP NOW</span></a> --}}
                    </div>
                </div>
                <!-- layer 2 -->
                <div class="layer-2 slide2">
                    {{!-- <img src="img/slider/h1-s1-l-2.png" alt="" /> --}}
                </div>
            </div>
        </div>
    </div>
    <!--slider area end-->
    <!--our brand start-->
    <div class="our-brand-area owl-indicator">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-title">
                        <h3>Shop Now!</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="brand-list">
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href=""><img src="img/brand-1.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href=""><img src="img/brand-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href=""><img src="img/brand-3.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href=""><img src="img/brand-4.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href=""><img src="img/brand-5.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--our brand end-->
    <!--footer-area start-->
    <div class="footer-area">
    {{!--     <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="footer-info">
                        <div class="footer-order-shipp">
                            <h2>free shipp on orders over $ 200</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="footer-newsletter">
                        <h3>newsletter sign up</h3>
                        <div class="newsletter">
                            <form action="#">
                                <input type="text" placeholder="your email" required>
                                <button type="submit">subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-list">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-footer classic">
                            <div class="logo">
                                <a href="#"><img src="img/logo.png" alt=""></a>
                            </div>
                            <div class="f-classic-text">
                                <p>Lorem ipsum is simply dummy text of the printing typesetting industry.Lorem ipsum has been the industry standard dummy text ever since the 1500s.</p>
                            </div>
                            <div class="classic-adress">
                                <ul>
                                    <li><a href="#"><i class="fa fa-phone"></i></a>+(00)56-888-999</li>
                                    <li><a href="#"><i class="fa fa-envelope"></i></a>Bootexperts.com</li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i></a>New circular road,1212,<span>New work city, america.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-footer my-account">
                            <h3>my account</h3>
                            <div class="account-list">
                                <ul>
                                    <li><a href="#">login</a></li>
                                    <li><a href="#">My account</a></li>
                                    <li><a href="#">My cart</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">checkout</a></li>
                                    <li><a href="#">userinfor</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-footer information">
                            <h3>information</h3>
                            <div class="account-list">
                                <ul>
                                    <li><a href="#">sitemap</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Your account</a></li>
                                    <li><a href="#">Advance search</a></li>
                                    <li><a href="#">affiliates</a></li>
                                    <li><a href="#">groupe sales</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single-footer conatact-us">
                            <h3>information</h3>
                            <div class="account-list">
                                <ul>
                                    <li><a href="#">product recall</a></li>
                                    <li><a href="#">gift vousher</a></li>
                                    <li><a href="#">Return exchange</a></li>
                                    <li><a href="#">Shipping options</a></li>
                                    <li><a href="#">blogs</a></li>
                                    <li><a href="#">affiliates</a></li>
                                    <li><a href="#">Helpe & FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2022. Trojans Second-Hand Trading.  All Rights Reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a> </p>
                        </div>
                    </div>
                    {{!-- <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="footer-atm-card">
                            <ul>
                                <li><a href="#"><img src="img/payment-1.PNG" alt=""></a></li>
                                <li><a href="#"><img src="img/payment-2.PNG" alt=""></a></li>
                                <li><a href="#"><img src="img/payment-3.PNG" alt=""></a></li>
                                <li><a href="#"><img src="img/payment-4.PNG" alt=""></a></li>
                                <li><a href="#"><img src="img/payment-5.PNG" alt=""></a></li>
                            </ul>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
    <!--footer-area end-->



    <!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.11.3.min.js"></script>

    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>

    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>

    <!-- Nivo slider js
		============================================ -->
    <script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="lib/home.js" type="text/javascript"></script>

    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>

    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- mixitup js -->
    <script src="js/jquery.mixitup.min.js"></script>

    <!-- jquery.collapse js -->
    <script src="js/jquery.collapse.js"></script>

    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>

    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>

    <!-- main JS
		============================================ -->
    <script src="js/main.js"></script>
</body>
</html>
