<h2>Add new Item</h2>
<form method="POST" action="">
	<div>
		<label for="title">Name of Product:</label>
		<input type="text" id="title" name="title" value="">
	</div>
	<div>
		<label for="title">How much do you want to sell it for:</label>
		<input type="text" id="price" name="price" value="">
	</div>
	<div>
		<label for="description">Enter a description of your product:</label>
		<input type="text" id="description" name="description" value="">
	</div>
	<input type="submit" value="Add">
</form>

<p>{{error}}</p>